route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'slack-alert-channel'
  routes:
    - matchers: [ alertname="DeadMansSwitch" ]
      receiver: 'dead-mans-switch'
      repeat_interval: 5m          # 外部側は10分無通信で発報するよう設定
    - match:
        severity: 'critical'
      receiver: 'slack-alert-channel'
      repeat_interval: 5m
    - match:
        severity: 'warning'
      receiver: 'slack-alert-channel'
      repeat_interval: 20m
    - match:
        severity: 'info'
      receiver: 'slack-alert-channel'
      repeat_interval: 1h

receivers:
  - name: 'slack-alert-channel'
    slack_configs:
      - api_url_file: '/etc/alertmanager-secrets/slack_url'
  - name: 'dead-mans-switch'
    webhook_configs:
      - url: '${DEADMANSSWITCH_URL}'
