global:
  scrape_interval: 30s
  evaluation_interval: 30s

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager:9093

rule_files:
  - ./rules/*.yml

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 30s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'grafana'
    scrape_interval: 30s
    static_configs:
      - targets: ['grafana:3000']

  - job_name: 'alertmanager'
    scrape_interval: 30s
    static_configs:
      - targets: ['alertmanager:9093']

  - job_name: node
    file_sd_configs:
      - files: ['/etc/prometheus/targets/node/*.yml']
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):\d+'
        target_label: instance
        replacement: '${1}'

  - job_name: smartctl
    scrape_interval: 2m
    scrape_timeout: 30s
    file_sd_configs:
      - files: ['/etc/prometheus/targets/smartctl/*.yml']
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):\d+'
        target_label: instance
        replacement: '${1}'

  - job_name: process
    file_sd_configs:
      - files: ['/etc/prometheus/targets/process/*.yml']
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):\d+'
        target_label: instance
        replacement: '${1}'

  - job_name: cadvisor
    file_sd_configs:
      - files: ['/etc/prometheus/targets/cadvisor/*.yml']
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):\d+'
        target_label: instance
        replacement: '${1}'
    metric_relabel_configs:
      - source_labels: [__name__, name]
        regex: 'container_.+;'
        action: drop
      - regex: '^id$'
        action: labeldrop

  - job_name: docker
    file_sd_configs:
      - files: ['/etc/prometheus/targets/docker/*.yml']
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):\d+'
        target_label: instance
        replacement: '${1}'

  - job_name: blackbox_icmp
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
          - 8.8.8.8
          - 1.1.1.1
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ${LAN_HOST}:9115

  - job_name: blackbox_http
    metrics_path: /probe
    params:
      module: [https_2xx_cert]
    static_configs:
      - targets:
          - ${BLACKBOX_HTTP_TARGET}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ${LAN_HOST}:9115

  - job_name: blackbox_dns
    metrics_path: /probe
    params:
      module: [dns_a]
    static_configs:
      - targets:
          - 8.8.8.8
          - 1.1.1.1
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ${LAN_HOST}:9115

  - job_name: speedtest
    scrape_interval: 1h
    scrape_timeout: 1m
    static_configs:
      - targets: ['${LAN_HOST}:9798']