[Unit]
Description=Smartctl Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=smartctl_exporter
Group=smartctl_exporter
Type=simple
ExecStart=/usr/local/bin/smartctl-exporter

[Install]
WantedBy=multi-user.target
